body {
  font-family: "Raleway", sans-serif;
  color: #464748;
  background-color: #cdcdcd;
}

a {
  color: #A8087B;
  text-decoration: none;
}

a:hover {
  color: #728394;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #c2c4c6;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #A8087B;
  line-height: 0;
}

.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #A8087B;
  border-top-color: #d3d0d0;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #dad9d9;
    border-right: 1px solid #202020;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #A8087B;
  padding: 10px 20px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #000;
  height: 56px;
  width: 100%;
  overflow: hidden;
  ;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 25px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 5px;
  color: #fff;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #4545453c;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #A8087B;
  background: #fff;
  border-color: #fff;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #A8087B;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #A8087B;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #A8087B;
  background-color: #e1e1e1;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: #fff; */
}

#hero .btn  {
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
}

#hero .btn:hover {
color:#A8087B;
border-color: #A8087B;
border: #000 1px solid;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}
/* 
#hero:before {
  content: "";
  background-size: cover;
  position: absolute;
  opacity: 0.8;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-color: #A8087B;
  left: 0;
  right: 0;
} */

#hero .nav-wrapper .navbar-brand img {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 0px;
  display: block;
  right: 20px;
}

#hero .navbar-brand img:hover {
  opacity: 0.8;
  transition: 0.3s;
}

#hero h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 800;
  line-height: 56px;
  color: #000;
  transition: 0.3s;
  padding-bottom: 30px;
}

#hero h1:hover {
  color: #A8087B;
}

.nav-wrapper {
  width: 100px;
  margin: 200px auto;
  text-align: right;
  position: absolute;
  top: -450px;
  right: 0;
}

.sl-nav {
  display: inline-block;
  position: absolute;
  top: -235px;
  left: -70px;
}

.sl-nav a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #000;
}

.sl-nav a:hover {
  color: #A8087B;
}

.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}

.sl-nav li ul {
  display: none;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
    position: relative;
  }

  #hero h1 {
    font-size: 40px;
    line-height: 36px;

  }

  #hero .logo .navbar-brand {
    display: block;
    position: absolute;
    right: -105px;
    top: -40px;
  }

  #hero .logo .navbar-brand img {
    width: 200px;
    height: 50px;
  }

  #hero .container .sl-nav {
    position: absolute;
    top: -290px;
    display: block;
    left: -75px;
  }

  #hero .nav-wrapper {
    margin-right: 25px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.navbar .nav-link {
  padding-left: 15px;
  font-weight: 400;
}

.navbar-nav .lang {
  font-weight: 600;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #A8087B;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #A8087B;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: medium;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about .team .container {
  text-align: center;
  margin-bottom: 50px
}

.icon {
  position: relative;
  bottom: 11px
}

.mt-100 {
  margin-top: 100px
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%
}

.card {
  border: none;
  background: none;
}

.card-body {
  position: relative;
  /* bottom: 35px */
}

.btn {
  margin-top: 36px;
  margin-bottom: 45px;
  background-color: #A8087B;
  border: none;
  color: #fff
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff
}

.header {
  padding-top: 40px
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.portfolio .icon-box {
  text-align: center;
  padding: 30px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #f7f8f9;
  box-shadow: 0px 5px 5px 0px rgba(147, 147, 147, 0.3);
  border-radius: 20px;
  margin: 15px;
}

.portfolio-details {
  margin-right: 20px;
  margin-left: 15px;
}

.portfolio-details ul {
  list-style: none;
  text-align: left;
}

.portfolio-details .btn  {
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
}

.portfolio-details .btn:hover {
color:#A8087B;
}
.portfolio-details {
  margin-top: 70px;
}

.portfolio .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.portfolio .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.portfolio .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .icon-box .icon svg path {
  transition: 0.5s;
  fill: #fff;
}

.portfolio .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 14px;
}

.portfolio .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.portfolio .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .icon-box:hover {
  border-color: #000;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.portfolio .iconbox-pink i {
  color: #A8087B;
}

.portfolio .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #000;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}